<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- set up static files: CSSes -->
    {% comment %} <script src="{% static 'js/main.js' %}" defer></script>  <!-- set up static files: JSes --> {% endcomment %}
</head>
<body>
    <!-- Header Section -->
    <header class="header">
        <div class="title">АРМ Бармена</div>
        <div class="local-time">
            <span>Локальное время:</span>
            <span>23:59 31/12/23</span>
        </div>
    </header>

    <!-- Navigation Bar -->
    <nav class="navbar">
        <a href="/">Главная</a> 
        <a href="/record_drinks">Учет</a>
        <a href="/form_saves">Отчеты</a>
        <div class="user-info">Бармен 1</div> <!-- Optional user info section if needed -->
    </nav>

    <!-- Main Content Area -->
    <main class="main-content">
        {% block content %}
        <h1>MAIN</h1>
        {% endblock %}
    </main>

</body>
</html>
