<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- set up static files: CSSes -->
    {% comment %} <script src="{% static 'js/main.js' %}" defer></script>  <!-- set up static files: JSes --> {% endcomment %}
</head>
<body>
    <nav>
        <a href="/">home</a> | 
        <a href="/record_drinks">record_drinks</a> |
        <a href="/form_saves">form_saves</a> |
    </nav>
    <main>
        {% block content %}
        
        {% endblock %}
    </main>
</body>
</html>